---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, ABOUT, SOCIALS } from "@consts";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span>
            <p>
              As a self-taught full stack developer, I have embarked on a
              journey of continuous learning and growth in the field of web
              development. My experience has been shaped by countless hours of
              building side projects, learning various technologies such as
              React, JavaScript, HTML, and CSS, and seeking guidance from
              experienced developers. I have also documented my learning process
              and thoughts on my personal blog, where I share my experiences,
              challenges, and insights as I navigate the world of web
              development.
            </p>
          </span>

          <span class="animate">
            <p>
              My journey began with a strong focus on mastering HTML and CSS,
              and over time, I delved deeper into JavaScript and other aspects
              of full stack development. Despite the challenges and occasional
              imposter syndrome, I have been dedicated to accelerating my
              learning and becoming more efficient in my development skills. I
              have found various resources, such as online courses and
              tutorials, to be invaluable in my learning process.
            </p>
          </span>
          <span class="animate">
            <p>
              In addition to my technical growth, I have also emphasized the
              importance of creating a portfolio and a personal brand. This has
              involved developing a portfolio website, creating content on
              platforms like YouTube, and maintaining a blog to showcase my
              projects and share my knowledge with others. These efforts have
              not only helped me solidify my understanding of web development
              but have also served as a means of demonstrating my competence and
              passion for the field.
            </p>
          </span>
          <span class="animate">
            <p>
              Overall, my journey as a self-taught full stack developer has been
              characterized by perseverance, continuous learning, and a
              commitment to sharing my experiences with the community. Through
              my blog, I aim to provide insights into the challenges and
              triumphs of self-taught developers and offer guidance to those who
              are on a similar path of learning and growth in web development.
            </p>
          </span>
        </article>
      </section>
    </div>
    </Container
  ></Layout
>
